[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm-c"]
	path = external/glm-c
	url = https://github.com/ThendBend/glm-c.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
